.TourismTitle {
    margin-top:100px;
    margin-left:200px;
    font-size:80px;
    color:#1F3766;
}
.TourismSection {
    display:flex;
    margin-top:80px;
    margin-left:200px;
}
.TourismImgText {
    margin-left:40px;
}
.TourismImgTitle {
    font-size:40px;
    color:#1F3766;
}
.TourismImgDesc {
    width:460px;
}
.TourismLink {
    text-decoration:none;
    
}
.TourismLinkMore {
    text-decoration:none;
    color:#1F3766;
}
.TourismRublinoImg {
    margin-left:370px;
}
@media (max-width: 1000px) {
    .TourismTitle {
        font-size: 70px;
        margin-left: 20px;
    }
    .TourismSection {
        margin-left: 20px;
    }
    .TourismImg {
        width: 420px;
        height: 400px;
        object-fit: cover;
    }
    .TourismLinkMore {
        margin-top: 20px;
        position: absolute;
    }
}
@media (max-width: 640px) {
    .TourismTitle {
        font-size: 60px;
    }
    .TourismImg {
        width: 540px;
        height: 360px;
        object-fit: cover;
    }
    .TourismSection {
        flex-direction: column;
    }
    .TourismImgDesc {
        width: 460px;
    }
    .TourismImgTitle {
        margin-bottom: 20px;
    }
    .TourismRublinoImg {
        margin-left: 400px;
        margin-top: -20px;
    }
    .TourismLinkMore {
        margin-top: 15px;
        position: absolute;
    }
}
@media (max-width: 320px) {
    .TourismTitle {
        font-size: 40px;
    }
    .TourismImg {
        width: 280px;
        height: 180px;
        object-fit: cover;
    }
    .TourismImgText {
        margin-left: 20px;
    }
    .TourismImgTitle {
        font-size: 30px;
        width: 220px;
    }
    .TourismImgDesc {
        width: 240px;
    }
    .TourismRublinoImg {
        position: relative;
        margin-left: 0px;
        margin-top: 20px;
    }
    .TourismLinkMore {
        display: flex;
        flex-direction: column-reverse;
    }
    .TourismLinkMore {
        margin-top: 30px;
        position: static;
    }
}