.popup_fixed {
    opacity:0;
    position:fixed;
}
.JobsTitle {
    font-size:80px;
    color:#1F3766;
    width:890px;
    margin-top:100px;
    margin-left:200px;
}
.BlockTitle::before {
    position: absolute;
    content: "";
    width: 130px;
    height: 5px;
    background-color: #3460AE;
    bottom:140px;
}
.JobsImg {
    margin-left:100px;
    margin-top:40px;
    position:absolute;
}
.JobsBlock {
    background:#FFFF;
    width:470px;
    position:relative;
    margin-left:800px;
    margin-top:360px;
    padding:10px;
}
.BlockTitle {
    color:#1F3766;
    padding-bottom:15px;
    font-size:45px;
    margin:20px;
    width:290px;
    margin-bottom:15px;
}
.BlockText {
    margin:20px;
}
/* .Jobs {
    margin-bottom:200px;
} */
.Jobs {
    margin-top:120px;
    margin-left:240px;
}
.JobsText p {
    margin-bottom:20px;
    line-height:19px;
}
.JobsSectTitle {
    font-size:40px;
    color: #1F3766;
    margin-bottom:20px;
    line-height:49px;
}
.JobsTextPrice {
    font-size:24px;
    color:#272727;
}
.JobsBtn1 {
    width:250px;
    height:60px;
    background:#3460AE;
    color:#FFFF;
    text-align:center;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}
.JobsBtn2 {
    text-decoration:none;
}
.JobsBtn {
    display:flex;
    margin-top:30px;
    gap:728px;
    align-items:center;
}

.JobsVacanciesTitle {
    font-size:24px;
    color:#1F3766;
    line-height:29px;
    margin-top:40px;
    margin-bottom:30px;
}
.JobsVacancies ul {
    margin-bottom:40px;
}
.JobsBtn3 {
border:2px solid#3460AE;
width:250px;
padding:20px;
text-align:center;
display:flex;
justify-content:center;
text-decoration:none;
margin-left:675px;
margin-top:90px;
}
.popup_title {
    font-size:80px;
    color:#214A90;
    margin-bottom:30px;
    margin-top:100px;
    margin-left:40px;
}
.popup {
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0,0.8);
    top:0;
    left:0;
    padding:40px 20px;
    opacity:0;
    visibility:hidden;
    overflow-y:auto;
    overflow-x:hidden;
    transition:all 0.4s ease 0s;
}
.popup:target {
    opacity:1;
    visibility:visible;
}
.popup_body {
    min-height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.popup_content {
    background-color:#FFFF;
    color:#000;
    max-width:1200px;
    position:relative;
    width:1200px;
    height:830px;
    transition:all 0.4s ease 0s;
    opacity:0;
    transform:translate(0px, -100%);
    /* height:840px; */
}
.popup:target .popup_content {
    transform:translate(0px, 0px);
    opacity:1;
}
.popup_close {
    position:absolute;
    right:40px;
    top:40px;
}
.popup_contentItem {
    margin-left:40px;
}
.popup_area {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.popup_form {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:560px;
    margin-bottom:20px;
    height:60px;
}
.popup_form input {
    border:1px solid #3460AE;
    padding:20px;
}
.popup_submit {
    background:#3460AE;
    width:560px;
    height:60px;
    color:#FFFF;
    margin-top:45px;
}
.Resume {
    display:flex;
    gap:10px;
    align-items:center;
    margin-top:30px;
    margin-bottom:-10px;
}
.popup_textItem {
    margin-bottom:40px;
}
.popup_textEnd {
    font-size:12px;
    color:#707070;
    margin-bottom:15px;
    margin-top:20px;
}
.popup_textEnd a {
    color:#707070;
    border-bottom:1px solid;
}
.href {
    text-decoration:none;
}
.popup_contentItem {
    display:flex;    
}
.popup_text {
    margin-right:140px;
    margin-top:-19px;
}