.header {
    display:flex;
    justify-content:space-around;
    align-items:center;
  }
  .headerNav {
    display:flex;
    gap:20px;
    align-items:center;
  
  }
  
  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:16px;
  }
  
  .menu li {
    margin-right: 5px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .itemLink {
    color: #000;
    text-decoration: none;
    padding: 8px 6px;
    font-size: 14px;
  }
  .itemLink:hover {
    border-bottom: 2px solid #3460AE;
    padding-bottom: 8px;
    text-decoration: none;
  }
  .menu {
    display: none;
  }
  .buttonMenu {
    display: flex;
  }

  @media (min-width: 992px) {
    .menu {
      display: block;
    }
  }
  @media (min-width: 1200px) {
    .itemLink {
      padding: 8px 10px;
      font-size: 16px;
    }
  }
  .BurgerImg {
    display:none;
  }
  @media (max-width: 1000px) {
    .menu {
      display:none;
    }
    .BurgerImg {
      display:flex;
    }
    .BurgerImg 
    .nav{
      display:none;
      flex-direction:column;
      position: fixed;
      height: 100%;
      width:100%;
      top:0; bottom:0; right:0; left:0;
      z-index:50;
      overflow-y: auto;
      background-color:#FFFF;
    }
    .nav ul {
      flex-direction:column;
      row-gap:30px;
    }
  }
  .Adapt {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  @media (max-width: 320px) {
    .itemLink {
      display:none;
    }
  }