.ConstTitle {
    font-size:80px;
    color:#1F3766;
    margin-top:100px;
    margin-left:200px;
}
.ConstBtn {
    display:flex;
    margin-top:80px;
    margin-left:200px;
    gap:40px;
}
.ConstText1Btn {
    font-size:24px;
    color:#B5B5B5;
}
.ConstText1Btn:hover {
    color:#3460AE;
    border-bottom:3px solid #3460AE;
}
.ConstText2Btn {
    font-size:24px;
    color:#B5B5B5;
}
.ConstText2Btn:hover {
    color:#3460AE;
    border-bottom:3px solid #3460AE;
}
span.spncolor {
    color:#1F3766;
}
.ConstFilter {
    display:flex;
    gap:30px;
    margin-left:200px;
}
.ConstStage {
    padding:20px;
    color:#1F3766;
    border:2px solid#3460AE;
    width:240px;
    text-align:center;
}
.ConstChange {
    padding:20px;
    color:#1F3766;
    border:2px solid#3460AE;
    width:295px;
    text-align:center;
}
.ConstApply {
    width:175px;
    height:60px;
    background:#3460AE;
    text-align:center;
    color:#fff;
    margin-top:17px;
}
.ConstApplyText {
    text-align:center;
    padding:20px;
}


.ConstImgMenu {
    display:flex;
}
.ConstMenuImg1 {
    margin-top:80px;
    margin-left:200px;
}
.ConstMenuImg2 {
    margin-top:80px;
    margin-left:80px;
}
.ConstMenuImgTitle {
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    align-items: center;
}
.ConstMenuImgTitle1 {
    font-size:40px;
    color:#272727;
}
.ConstMenuImgText {
    display:flex;
    gap:55px;
    margin-top:20px;
}
.ConstImgMenu2 {
    display:flex;
    gap:80px;
    margin-left:200px;
    margin-top:80px;
}

@media (max-width: 1000px) {
    .ConstTitle {
        font-size:70px;
        margin-left:20px;
    }
    .ConstBtn {
        margin-left: 20px;
    }
    .ConstFilter {
        margin-left: 20px;
    }
    .ConstImgMenu {
        display:flex;
        flex-direction:column;
    }
    .ConstMenuImg1 {
        margin-left:150px;  
        width:690px;
    }
    .MenuImg {
        width: 690px;
        height:350px;
        object-fit: cover;
    }
    .ConstMenuImg2 {
        margin-left:150px;
        width:690px;
    }
    .ConstImgMenu2 {
        margin-left: 150px;
    }
    .ConstImgMenu2 {
        display:flex;
        flex-direction:column;
    }
    .ConstMenuImg3 {
        width:690px;
    }
    .ConstMenuImg1Text {
        display:flex;
        justify-content: space-between;
        gap:0px;
    }
}
@media (max-width: 640px) {
    .ConstTitle {
        font-size:58px;
    }
    .ConstFilter {
        flex-wrap:wrap;
        width:560px;
    }
    .ConstStage {
        width:auto;
    }
    .ConstChange {
        width: auto;
    }
    .ConstApply {
        margin-top:0px;
    }
    .ConstMenuImg1 {
        margin-left:20px;  
        width:600px;
    }
    .ConstMenuImg2 {
        margin-left:20px;  
        width:600px;
    }
    .ConstMenuImg3 {
        width:600px;
    }
    .ConstImgMenu2 {
        margin-left:20px;  
    }
    .MenuImg {
        width: 600px;
        height:350px;
        object-fit: cover;
    }
}
@media (max-width: 320px) {
    .ConstTitle {
        font-size:40px;
    }
    .ConstBtn {
        gap:30px;
    }
    .ConstFilter {
        flex-wrap:wrap;
        width:280px;
        gap:0px;
    }
    .ConstChange {
        font-size:15px;
    }
    .ConstStage {
        margin:0px;
    }
    .ConstMenuImg1 {  
        width:280px;
    }
    .ConstMenuImg2 {  
        width:280px;
    }
    .ConstMenuImg3 {  
        width:280px;
    }
    .MenuImg {
        width: 280px;
        height:200px;
        object-fit: cover;
    }
    .ConstMenuImgTitle {
        display:flex;
        flex-direction: column;
        justify-content:left;
        margin-top:30px;
        align-items:flex-start;
    }
    .ConstMenuImgText {
        flex-direction: column;
        gap: 10px;
    }
}