.objectPageImg {
    object-fit:cover;
    width:100%;
    position:relative;
}
.ImgTitle {
    font-size:80px;
    margin-bottom:30px;
}
.ImgText {
    top:414px;
    left:200px;
    position:absolute;
    color:#FFFF;
    font-size:24px;
}
.ObjectListImg3Text {
      display: none;  
}
.ObjectListImgText {
    display: none;
}
.ComplexItem {
    background:#102349;
}
.ComplexItem {
padding-left:200px;
}
.ImgList {
    padding-top:100px;    
    display:flex;
}
.ImgListRight {
    display:flex;
    flex-wrap:wrap;
    width:540px;
    margin-left:60px;
    justify-content: space-between;
    gap:40px;
}
.ImgListTitle {
    display:flex;
    color:#FFFF;
    font-size:80px;
    margin-top:200px;
    margin-bottom:45px;
}

.AboutComplexTitle {
    display:flex;
    color:#FFFF;
    margin-bottom:30px;
}
.AboutComplexDesc {
    display:flex;
    align-items: center;
    margin-right:20px;
}
.AboutComplexImg {
    float:right;
}
.AboutComplexText {
    width:550px;
    color: #FFFF;
    padding-bottom:160px;
}
.AboutComplex {
    max-width:1190px;
}

.Title {
    font-size:80px;
    color:#1F3766;
    margin-bottom:40px;
}
.Developer {
    margin-left:200px;
    margin-top:100px;
}
.DevSection {
    display:flex;
}
.DevSectionItem {
    width:600px;
}
.DevLink {
    display:flex;
    align-items:center;
    gap:40px;
    margin-top:40px;
    margin-bottom:60px;
}
.DevSiteLink {
    text-decoration:none;
}
.DevFilesItem {
    margin-bottom:20px;
    display:flex;
    align-items:center;
}
.DevSectionItem {
    margin-right:40px;
    margin-top:20px;
}

.Mortgage {
    margin-left:200px;
    margin-top:240px;
}
.MortTitle {
    font-size:80px;
    color: #1F3766;
    margin-bottom:50px;
}
.DomRF {
    width:300px;
    margin-right:210px;
}
.MortImg {
    margin-bottom:20px;
}
.MortLink {
    margin-left:90px;
    text-decoration: none;
}
.MortSection {
    display:flex;
}
.MortItem {
    width:730px;
}
.MortItemText {
    margin-bottom:20px;
}
@media (max-width: 1000px) {
    .objectPageImg {
        width: 1000px;
        height: 550px;
        object-fit: cover;
    }
    .ImgText {
        left:20px;
        top:200px;
    }
    .ImgTitle {
        font-size:70px;
        margin-bottom:20px;
    }
    .ObjectListImg {
        width: 460px;
        height: 500px;
        object-fit: cover;
    }
    .ObjectListImg1 {
        width: 220px;
        height: 230px;
        object-fit: cover;
    }
    .ObjectListImg2 {
        width: 220px;
        height: 230px;
        object-fit: cover;
    }
    .ObjectListImg3 {
        width: 220px;
        height: 230px;
        object-fit: cover;
    }
    .ObjectListImg4 {
        width: 220px;
        height: 230px;
        object-fit: cover;
    }
    .ComplexItem {
        padding-left:20px;
    }
    .ImgListRight {
        margin-left:20px;
        justify-content: flex-start;
    }
    .ImgListTitle {
        font-size: 70px;
    }
    .AboutComplexImg {
        width: 430px;
        height:430px;
        object-fit: cover;
    }
    .AboutComplexText {
        width:510px;
    }
    .Developer {
        margin-left:20px;
        margin-top:100px;
    } 
    .DevImg {
        width: 460px;
        height: 500px;
        object-fit: cover;
    }
    .Title {
        font-size: 70px;
    }
    .Mortgage {
        margin-left: 20px;
    }
    .MortTitle {
        font-size: 70px;
    }
    .DomRF {
        width:300px;
        margin-right:50px;
    }
}
@media (max-width:640px) {
    .objectPageImg {
        width: 640px;
        object-fit: cover;
    }
    .ImgTitleText {
        font-size:24px;
        width: 390px;
    }
    .ImgText {
        top:250px;
    }
    .ImgTitle {
        font-size: 60px;
    }
    .ImgList {
        flex-direction: column;
    }
    .ObjectListImg {
        width: 600px;
        height: 450px;
    }
    .ObjectListImg1 {
        width: 280px;
    }
    .ObjectListImg2 {
        width: 280px;
    }
    .ObjectListImg3 {
        width: 280px;
    }
    .ObjectListImg4 {
        width: 280px;
    }
    .ImgListRight {
        width:600px;
        justify-content: flex-start;
        margin-left: 0px;
        margin-top: 40px;
    }
    .ImgListTitle {
        font-size: 60px;
    }
    .AboutComplex {
        display:flex;
        flex-direction: column-reverse;
    }
    .AboutComplexImg {
        width: 600px;
        height: 430px;
        padding-bottom: 80px;
    }
    .AboutComplexText {
        padding-bottom:60px;
    }
    .Title {
        font-size: 60px;
    }
    .DevSection {
        display:inline;
    }
    .DevImg {
        width: 600px;
        margin-top: 30px;
    }
    .MortSection {
        flex-direction: column-reverse;
    }
    .MortTitle {
        font-size: 60px;
    }
    .MortItemText {
        width: 580px;
        margin: 0px;
    }
    .MortLink {
        margin-left: 95px;
    }
    .MortImg {
        margin-top: 60px;
    }
}
@media (max-width:320px) {
    .objectPageImg {
        width: 320px;
        height: 550px;
        object-fit: cover;
    }
    .ImgTitle {
        font-size: 40px;
    }
    .ImgTitleText {
        font-size:24px;
        width: 290px;
    }
    .ObjectListImg {
        width: 280px;
        height: 450px;
    }
    .ObjectListImg1 {
        width: 280px;
        height: 230px;
    }
    .ObjectListImg2 {
        width: 280px;
        height: 230px;
    }
    .ObjectListImg3 {
        width: 280px;
        height: 230px;
    }
    .ObjectListImg4 {
        width: 280px;
        height: 230px;
    }
    .ObjectListImgText {
        position:absolute;
        display: flex;
    }
    .ImgListRight {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
    .ObjectListImg2 {
        display: none;
    }
    .ObjectListImg4 {
        display: none;
    }
    .ImgListTitle {
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .AboutComplexText {
        width: 280px;
        padding-bottom: 20px;
    }
    .AboutComplexTitle {
        flex-wrap:wrap;
    }
    .AboutComplexImg {
        width: 280px;
        height: 430px;
    }
    .Title {
        font-size: 30px;
    }
    .DevSectionItem {
        width: 280px;
    }
    .DevLink {
        flex-direction: column;
        align-items: start;
    }
    .DevImg {
        width: 280px;
        height: 300px;
    }
    .MortTitle {
        font-size: 30px;
    }
    .MortItemText {
        width: 260px;
    }
}