.AboutUsText1 {
    margin-left:200px;
    margin-top:100px;
    font-size:80px;
    width:832px;
    color:#1F3766;
}
.AboutUsImg1 {
    margin-left:100px;
    margin-top:80px;
    position:absolute;
}
.AboutUsBlock1 {
    background:#FFFFFF;
    color:#272727;
    position:relative;
    width:470px;
    height:240px;
    margin-left:800px;
    margin-top:360px;
}
.AboutUsHeading {
    color:#1F3766;
    padding-bottom:15px;
    font-size:45px;
    margin:20px;
    width:148px;
    border-bottom:5px solid #3460AE;
}

.AboutUsDescription {
    margin-left:20px;
    width:390px;
    font-size:16px;
}
.AboutUsBlock2 {
    display:flex;
    background:#1F3766;
    height:450px;
}
.AboutUsBlock2Text1 {
    width:515px;
    margin-left:200px;
    margin-top:80px;
    color:#FFFFFF;
    font-size:16px;
}
.AboutUsBlock2Text2 {
    width:515px;
    color:#FFFFFF;
    font-size:16px;
    margin-left:170px;
    margin-top:80px;
}
.AboutUsBtn {
    margin-top:40px;
}
.AboutUsBtn1 {
    text-decoration:none;
    color:#FFFFFF;
}
.AboutUsBtn1:hover {
    text-decoration:underline;
}


.AboutCompany {
    display: flex;
}
.AboutCompanyTitle {
    font-size:80px;
    color:#1F3766;
    margin-top:200px;
    margin-left:200px;
}
.AboutCompanyText {
    margin-top:125px;
    width:517px;
    margin-left:200px;
}
.AboutCompanyimg {
    margin-top:40px;
    float:right;
    margin-left:83px;
}
.AboutUsTile {
    margin-top:200px;
}
.AboutUsBlocks {
    display:flex;
    position: absolute;
    top:120px;
    left:400px;
}
.BlocksGroup1 {
    gap:20px;
    width:570px;
    display:flex;
    flex-wrap: wrap;
}
.BlocksGroup2 {
    gap:20px;
    width:570px;
    display:flex;
    flex-wrap: wrap;
}
.AboutUsTileImg {
    position: relative;
    object-fit: cover;
    width: 100%;
}
.AboutUsTileBlock1 {
    width:250px;
    height:250px;
    background:#3460AE;
}
.AboutUsBlock1TitleText {
    display: flex;
}
.AboutUsBlock1Title {
    font-size:30px;
    color: #FFFFFF;
    margin-top:100px;
    margin-right:10px;
    margin-left:23px;
}
.AboutUsBlock1Title1 {
    font-size:80px;
    color: #FFFFFF;
    margin-top:55px;
}
.AboutUsBlock1Text {
    width:200px;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    margin-left:25px;
}
.AboutUsTileBlock2 {
    width:250px;
    height:250px;
    background:#214A90;
}
.AboutUsBlock2Title {
    font-size:80px;
    color: #FFFFFF;
    margin-top:55px;
    text-align:center;
}
.AboutUsBlock2Text {
    width:200px;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    margin-left:25px;
}
.AboutUsTileBlock3 {
    width:250px;
    height:250px;
    background:#1F3766;
    justify-content:center;
}
.AboutUsBlock3Title {
    font-size:80px;
    color: #FFFFFF;
    margin-top:55px;
    text-align:center;
}
.AboutUsBlock3Text {
    width:200px;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    margin-left:25px;
}
.AboutUsTileBlock4 {
    width:250px;
    height:250px;
    background:#1F3766;
    justify-content:center;
}
.AboutUsBlock4Title {
    font-size:30px;
    color: #FFFFFF;
    text-align:center;
    margin-top:20px;
}
.AboutUsBlock4Title1 {
    font-size:80px;
    color: #FFFFFF;
    text-align:center;
}
.AboutUsBlock4Text {
    width:200px;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    margin-left:25px;
}
.AboutUsTileBlock5 {
    width:250px;
    height:250px;
    background:#3460AE;
    justify-content:center;
}
.AboutUsBlock5Title {
    font-size:80px;
    color: #FFFFFF;
    margin-top:55px;
    text-align:center;
}
.AboutUsBlock5Text {
    width:200px;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    margin-left:25px;
}
.AboutUsTileBlock6 {
    width:250px;
    height:250px;
    background:#214A90;
    justify-content:center;
}
.AboutUsBlock6Title {
    font-size:80px;
    color: #FFFFFF;
    margin-top:55px;
    text-align:center;
}
.AboutUsBlock6Text {
    width:200px;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    margin-left:25px;
}
.AboutUsTileBlock7 {
    width:250px;
    height:250px;
    background:#1F3766;
    justify-content:center;
}
.AboutUsBlock7Title {
    font-size:30px;
    color: #FFFFFF;
    text-align:center;
    margin-top:20px;
}
.AboutUsBlock7Title1 {
    font-size:80px;
    color: #FFFFFF;
    text-align:center;
}
.AboutUsBlock7Text {
    width:200px;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    margin-left:25px;
}
.AboutUsTileBlock8 {
    width:250px;
    height:250px;
    background:#102349;
    justify-content:center;
}
.AboutUsBlock8Title {
    font-size:80px;
    color: #FFFFFF;
    text-align:center;
    margin-top:20px;
}
.AboutUsBlock8Title1 {
    font-size:30px;
    color: #FFFFFF;
    text-align:center;
}
.AboutUsBlock8Text {
    width:200px;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    margin-left:25px;
}


.AboutUsManSection {
    margin:200px;
    height:746px;
}
.stripe {
    border:solid 3px #3460AE;
    width:175px;
    margin-top:40px;
}
.AboutUsText {
    width:755px;
    float:right;
    margin-top:190px;
    margin-right:245px;
}
.AboutUsPainImg {
    float:right;
    margin-top:30px;
}
.AboutUsPainTitle {
    font-size:24px;
    color:#1F3766;
    margin-top:47px;
}
.AboutUsPainText {
    font-size:16px;
    color:#1F3766;
}

.AboutUsComGroupTitle {
    margin-top:200px;
    margin-left:200px;
    margin-bottom:80px;
    font-size:80px;
    color:#1F3766;
    width:698px;
}
.AboutUsComGroupImg {
    float:right;
    margin-right:200px;
}
.AboutUsComGroupText {
    width:517px;
    margin-top:184px;
}
.AboutUsComGroupText {
margin-right: 200px;
width:517px;
margin-left:200px;
}
.AboutUsComGroupimg {
    display:flex;
    margin-top:183px;
    margin-left:200px;
    gap:30px;
}
@media (max-width: 1000px) {
    .AboutUsText1 {
        margin-left:50px;
        font-size:70px;
    }
    .AboutUsImg1 {
        width:700px;
        height:300px;
        margin-left:20px;
        margin-top:40px;
    }
    .AboutUsBlock1 {
        margin-left:520px;
        margin-top:290px;
    }
    .AboutUsBlock2Text1 {
        margin-left:20px;
        margin-top:75px;
    }
    .AboutUsBlock2Text2 {
        margin-left:20px;
        margin-top:60px;
    }
    .AboutCompanyimg {
        width: 480px;
        height: 400px;
    }
    .AboutCompanyText {
        margin-top:40px;
        width:430px;
        margin-left:20px;
        height:325px;
        font-size:15px;
    }
    .AboutCompanyImg {
        margin-top:10px;
    }
    .AboutCompanyTitle {
        font-size:70px;
        margin-top:150px;
        margin-left:20px;
    }
    .AboutUsTileImg {
        width: 1000px;
        height:1180px;
        object-fit: cover;
    }
    .AboutUsBlocks {
        top:60px;
        left:240px;
        width:570px;
    }
    .AboutUsManSection {
        margin:0px;
    }
    .AboutUsMan {
        width:300px;
        height:450px;
    }
    .AboutUsman {
        display: flex;
    }
    .AboutUsManSection {
        margin-top:150px;
        margin-left:20px;
    } 
    .AboutUsText {
        width:600px;
        margin-top:170px;
        margin-left:30px;
        margin-right:0px;
    }
    .stripe {
        margin-top:30px;
    }
    .AboutUsPainTitle {
        margin-top:30px;
    }
    .AboutUsPainText {
        width:285px;
    }
    .AboutUsComGroupImg {
        width:450px;
        height: 350px;
        margin-right:20px;
    }
    .AboutUsComGroupTitle {
        font-size:70px;
        margin-left:20px;
    }
    .AboutUsComGroupText {
        width:450px;
        margin-left:20px;
        margin-top:107px;
    }
    .AboutUsComGroupimg {
        margin-left:52px;
    }
}
@media (max-width: 640px) {
    .AboutUsText1 {
        margin-left:20px;
        font-size:60px;
        width:618px;
    }
    .AboutUsImg1 {
        width:480px;
        height:300px;
    }
    .AboutUsBlock1 {
        margin-left:127px;
        margin-top:240px;
    }
    .AboutUsBlock2 {
        width:640px;
        flex-direction:column;
        height:645px;
    }
    .AboutCompanyTitle {
        font-size:60px;
    }
    .AboutCompanyText {
        width:600px;
    }
    .AboutCompanyimg {
        float: left;
        margin-left:20px;
        height:400px;
        width:600px;
    }
    .AboutCompany {
        flex-direction:column-reverse;
    }
    .AboutUsTileImg {
        width:640px;
        height:1180px;
    }
    .AboutUsBlocks {
        left:60px;
    }
    .AboutUsMan {
        position:relative;
    }
    .AboutUsText {
        margin-top:340px;
        margin-left:100px;
        position:absolute;
        width:440px;;
        background:#FFFF;
        padding: 30px;
    }
    .AboutUsComGroupTitle {
        font-size: 60px;
        margin-top: 450px;
    }
    .AboutUsComGroupImg {
        width:600px;
        height:350px;
        object-fit: cover;
        margin-left:20px;
    }
    .AboutUsCom {
        display:flex;
        flex-direction: column;
    }
    .AboutUsComGroupText {
        width:600px;
        margin-top:40px;
    }
    .logo_red {
        width: 150px;
        height:40px;
    }
    .AboutUsComGroupimg {
        margin-top:60px;
        margin-left:20px;
        width:510px;
        flex-wrap:wrap;
    }
}
@media (max-width: 320px) {
    .AboutUsText1 {
        font-size:30px;
        width:280px;
    }
    .AboutUsImg1 {
        width:280px;
        height:200px;
        object-fit: cover;
        margin-left:0px;
    }
    .AboutUsHeading {
        font-size:35px;
        width:100px;
    }
    .AboutUsBlock1 {
        width:240px;
        margin-left:60px;
        margin-top:245px;
        height:280px;
    }
    .AboutUsDescription {
        width:200px;
    }
    .AboutUsBlock2 {
        width:320px;
        flex-direction:column;
        height:795px;
    }
    .AboutUsBlock2Text1 {
        width:280px;
        margin-top:60px;
    }
    .AboutUsBlock2Text2 {
        width:280px;
        margin-top:40px;
    }
    .AboutUsBtn {
        margin-top:50px;
    }
    .AboutCompanyTitle {
        font-size:40px;
    }
    .AboutCompanyimg {
        width:280px;
        height:230px;
        margin-top:0px;
    }
    .AboutCompanyText {
        width:280px;
        margin-top:0px;
    }
    .AboutUsTileImg {
        width:320px;
        height:2260px;
    }
    .AboutUsTileBlock5 {
        margin-top:20px;
    }
    .AboutUsBlocks {
        width:250px;
        left:35px;
        flex-wrap:wrap;
    }
    .AboutUsMan {
        width:140px;
        height:210px;
    }
    .AboutUsText {
        margin-top:165px;
        margin-left:40px;
        position:absolute;
        width:250px;;
        padding: 15px;
    }
    .AboutUsPainImg {
        width:100px;
        height:60px;
        margin-top:-20px;
    }
    .stripe {
        width:100px;
    }
    .AboutUsPainText {
        width:218px;
    }
    .AboutUsComGroupTitle {
        font-size:30px;
        margin-top: 600px;
        margin-bottom:40px;
    }
    .AboutUsComGroupImg {
        width:280px;
        height:200px;
    }
    .AboutUsComGroupText {
        width:280px;
    }
    .logo_red {
        width:130px;
        height:40px;
    }
    .AboutUsComGroupimg {
        width:290px;
    }
}